body {
    display: flex;
}

.game {
    border-style: solid;
    font-size: 0;
}

.ui {
    text-align: justify;
    padding-left: 1%;
    padding-right: 5%;
    border-style: solid;
    border-left: transparent;
}

.short {
    width: 40px;
}

.sidebar-entry {
    padding-bottom: 2px;
}